<!DOCTYPE html>
<html lang="en" ng-app="coursesApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="assets/css/theme.css">
</head>
<body>


<div class="container">

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">


            </ul>

        </div>


    </div>


    <div ng-controller="CoursesController">
        <img ng-src="{{event.imageUrl}}" alt="{{event.name}}">

        <h2 ng-bind="event.name"><br/></h2>

        <div><strong>Time</strong>{{event.time}} <br/></div>
        <div><strong>Date</strong>{{event.date}}</div>


        <h3>Courses</h3>
        <ul class="thumbnails">
            <li ng-repeat="course in event.courses">
                <div class="well span9">
                    <h4 class="well-title">{{course.name}}</h4>

                    <div><p>{{course.credits}}</p></div>
                    <div class="courselogo pull-right">
                        <!--<span>{{course.selection}}</span> <br>-->
                        <img ng-src=" {{course.logo}}"> <br>
                        <input type="checkbox" ng-model="course.Selected"/> <br>
                    </div>

                </div>
            </li>

        </ul>

    </div>

</div>


<script src="lib/underscore-1.4.4.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/CoursesController.js"></script>

</body>
</html>